/* NAVBAR BEGINS */
body,html{
  overflow-x: hidden;
}

.custom-shape-divider-top-1663277584 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}
:root {
  --green: #5da349;
  --white: white;
  --purple: #57164a;
  --offGreen: #cdfcc0;
}
.custom-shape-divider-top-1663277584 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 100px;
}

.custom-shape-divider-top-1663277584 .shape-fill {
  fill: #ffffff;
}

#bg {
  background-color: #57164a;
  color: white;
}

.nav-link {
  color: white;
}

* {
  margin: 0;
  padding: 0;
  font-family: normal normal 900 Segoe UI;
}
#rel {
  position: relative;
}
.container-fluid {
  padding: 0;
  margin: 0;
}
.nav-link{
  color: white;
}
.navbar {
  padding: 0;
}
.navbar-brand:hover{
  color: white;
}
.nav-link:hover{
  color: white;
}

.navbar-brand{

  color: white;
}
a:active{
  text-decoration: none;

  color: white;
}
a:focus{
  color: white !important;
 

}
a{
  text-decoration: none;
}

#margin-for-ptag {
  margin: 0.0001% 0 0 5%;
  font-weight: 900;
  font-size: 20px;
}
.ss{
  color: white !important;
  border-bottom: 2px solid white;

}

.navbar ul li a:hover{
  color: white !important;
  border-bottom: 2px solid white;
}

/* NAVBAR ENDS */

/* Hero section */
@media only screen and (min-width: 767px) {
  #button-and-consult {
    margin-top: 20em;
  }
}

#button-and-consult{
  margin-top: 2em;
}
.image-container {
  background-image: url("../img/E374A2B2-9392-42CD-8727-91A61ABEF12B.jpeg");
  background-size: cover;
  min-height: 95vh;
  padding-bottom:2em;
}

#margin-for-hero {
  /* margin-left: 2%;
    padding-top: 8%; */
  color: white;
  font: normal normal 900 45px/52px Segoe UI;
}

#circle {
 max-width: 60px;
  max-height: 60px;
  margin: 5em 5em 1em 5em;
}
#flex {
  justify-content: start;
  align-items: center;
}
#call-us {
  /* align-items: center; */
  margin-bottom: 25px;
  color: white;
  font-weight: bold;
}
#number:hover{
  transform: scale(1.02) translateY(-3px);
}
#number {
  box-shadow: rgb(0 0 0 / 25%) 0px 54px 55px, rgb(0 0 0 / 12%) 0px -12px 30px, rgb(0 0 0 / 12%) 0px 4px 6px, rgb(0 0 0 / 17%) 0px 12px 13px, rgb(0 0 0 / 9%) 0px -3px 5px;
  border-color: white;
  color: #5da349;
  background-color: #ffffff;
  border-radius: 50px;
  min-height: 67px;
  max-width: 450px;
  display: block;
  font-weight: bold;
  padding: 15px;
}
/* hero section ends */
/* about section starts */
#more-about {
  min-height: 60vh;
  background-color: #5da349;
  color: white;
}
.about-process{
  padding: 1em 3.5em 3.5em 3.5em;
}
.spacer {
  aspect-ratio: 900/300;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.layer {
  height: 1vh;
}
#about {
  position: relative;
  color: #5da349;
  z-index: 5;
  font-weight: bold;
}
.text-icons{
  color: white;
}


/* about section ends */
/* services section starts */

#services {
  color: var(--green);
  font-weight: 900;
}
#variety {
  color: var(--green);
  font-weight: 600;
}

#three {
  color: var(--green);
}
.box {
  min-height: 37.5vh;
  width: 37vh;
  background-color: #57164a;
  border-radius: 50px;

  margin: 3rem !important;
}
#grid {
  display: grid;
  /* grid-auto-flow: revert; */
  grid-template-columns: repeat(3, 0.2fr);
  justify-content: center;
  justify-items: center;
}
/* QUERIES */
/* @media only screen and (max-height: 660px) {
  .box {
    height: 45.5vh !important;
    width: 45vh !important;
    background-color: #57164a;
    border-radius: 50px;

    margin: 3rem !important;
  }
} */
#grid2 {
  display: grid;
  grid-auto-flow: revert;
   grid-template-columns: repeat(4, .02fr);
  justify-content: center;
  justify-items: center; 
  /* display: flex; */
}

@media screen and (min-width: 742px) {
  #grid2{
    display: grid;
    grid-auto-flow: revert;
     grid-template-columns: repeat(4, .02fr);
    /* justify-content: center;
    justify-items: center;  */
   padding-top: 7em;
  }

  
}
#kritter-catchers-logo{
  padding: 3em;
}
@media screen and (max-width: 1279px) {
  #grid2{
    display: grid;
    grid-auto-flow: revert;
     grid-template-columns: repeat(2, .02fr);
    /* justify-content: center;
    justify-items: center;  */
   padding-top: 5em;
  }

  
}
@media only screen and (max-width: 1100px) {
  #grid {
    grid-template-rows: repeat(3, 0.1fr);
    grid-template-columns: repeat(1, 0.1fr);
  }
}
/* @media only screen and (max-width: 1025px) {
  .box {
    height: 70.5vh;
    width: 45vh;
    background-color: #57164a;
    border-radius: 50px;

    margin: 3rem !important;
  }
} */

@media only screen and (max-height: 660px) {
  .box {
    height: 50.5vh;
    width: 50vh;
    background-color: #57164a;
    border-radius: 50px;

    margin: 3rem !important;
  }
}
/* QUERIES END */
.test-container {
  display: block;
}

#white {
  color: var(--white);
}

/* services section ends */

/* process section start */

.card {
  flex-direction: row;
  align-items: center;
  height: 50vh;
}
.card-title {
  font-weight: bold;
}
#cardimg {
  max-width: 90.5%;
  border-top-right-radius: 0;
  border-bottom-left-radius: calc(0.25rem - 1px);
  background-position: center;
  height: 50vh;
  background-size: cover;
  background-image: url("/img/KillianAndClaire.JPG");
}
#cardimg2 {
  max-width: 90.5%;
  border-top-right-radius: 0;
  border-bottom-left-radius: calc(0.25rem - 1px);
  background-position: center;
  height: 50vh;
  background-size: cover;
  background-image: url("../img/KillianAndClaire2.JPG");
}

/* @media only screen and (max-width: 768px) {
  .card-body {
    padding: 0.5em 1.2em;
  }
  .card-body .card-text {
    margin: 0;
  }
  #cardimg {
    width: 300%;
    background-position: center;
  }
  #cardimg2 {
    width: 120%;
  }
} */
@media only screen and (max-width: 1200px) {
  #cardimg {
    width: 350%;
    background-position: top;
  }
  #cardimg2 {
    width: 325%;
    background-position: left;
  }
}

@media only screen and (max-width: 752px) {
  #cardimg {
    background-image: url("../img/ClaireLadder.JPG");
  }
  #cardimg2 {
    background-image: url("../img/ClairAndKillianLadder.JPG");
  }
}

#our-process {
  color: var(--green);
  font-weight: bold;
}
/* process section end */

/* TREATMENT SECTION START */
#animals-we-treat {
  background-image: url("../img/raccoon.png");
  min-height: 75vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#rely {
  padding-top: 5.5rem;
  color: var(--white);
}
.test {
  position: relative;
  z-index: 5;
  color: green;
}

#mx-auto {
  margin: 0 auto;
  color: var(--white);
}
/* TREATMENT SECTION END */
/* 
<!-- FORM SECTION BEGIN --> */

#contact-form {
  font-weight: bold;
  color: var(--green);
  margin-top: 8rem;
}

#estimate {
  color: var(--green);
}
#estimate-and-number {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}
#call-us-button {


  height: 60px;
  display: block;
  width: 330px;
  background-color: var(--purple);
  border-radius: 35px;
  color: var(--white);
  border-color: var(--purple);
}
#email-stuff {
  margin-top: 3.5rem;
}
#email {
  color: var(--green);
}

#email-actual {
  color: var(--purple);
  font-weight: bold;
}
#form {
  width: 50%;
  margin: 0 auto;
  border-radius: 20px;
}
#formButton {
  display: block;
  border-radius: 15px;
  background-color: var(--offGreen);
  color: var(--purple);
  height: 50px;
  min-width: 133px;
  border-color: var(--offGreen);
  font-weight: 500;
  margin-bottom: 5em;
}

input {
  border: grey;
  border-radius: 15px;
}
.form-group {
  border-radius: 30px;
}
.form-control {
  border-radius: 15px;
  border-color: gray;
}
#purp {
  font-weight: 900;
  color: var(--purple);
}

#formButton:hover {
  transform: translateY(-2px), scale(1.1);
}
#instagram-updates:hover {
  transform: scale(1.02);
}
#instagram-updates {
  color: var(--green);
  padding-right: 8px;
}

#ig-link {
  font-weight: bold;
  color: var(--purple);
  text-decoration: none;
  padding-right: 8px;
}
#ig-link:hover {
  transform: translateY(-3px) scale(1.02);
  cursor: pointer;
  /* padding: 0px 12px 0px 7px; */
}
#container-ig {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
#test:hover {
  transform: scale(1.02);
}
#for-updates {
  color: var(--green);
}

@media only screen and (max-width: 411px) {
  #instagram-updates {
    font-size: 18px;
  }
  #ig-link {
    font-size: 18px;
  }
  #for-updates {
    font-size: 18px;
  }
}
/* <!-- FORM SECTION END --> */
